body {
    padding-top: 10px;
  }

.btn-secondary{
  color: black;
  background-color: aqua;
  border-color: blue;
  border-radius: 12px;
}

.img-size{
  height: 100%;
  width: 100%;
}

.btn-decr{
  color: white;
  background-color: rgb(52, 101, 181);
  border-color: rgb(52, 101, 181);
  border-radius: 50%;
}

.col-7.food{
  color: rgb(40, 75, 131);
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-incr{
  color: white;
  background-color: rgb(52, 101, 181);
  border-color: rgb(52, 101, 181);
  border-radius: 50%;
}

.btn-clear{
  background-color: gray;
  border-color: black;
}
